:root {
    --theme-color: "pywal16";
    --hue-rotate: 0deg;

    --md-sys-color-background:                   rgb({color0.red}, {color0.green}, {color0.blue});
    --md-sys-color-error:                        rgb({color9.red}, {color9.green}, {color9.blue});
    --md-sys-color-error-container:              rgb({color1.red}, {color1.green}, {color1.blue});
    --md-sys-color-inverse-on-surface:           rgb({color0.red}, {color0.green}, {color0.blue});
    --md-sys-color-inverse-primary:              rgb({color12.red}, {color12.green}, {color12.blue});
    --md-sys-color-inverse-surface:              rgb({color15.red}, {color15.green}, {color15.blue});
    --md-sys-color-on-background:                rgb({color7.red}, {color7.green}, {color7.blue});
    --md-sys-color-on-error:                     rgb({color0.red}, {color0.green}, {color0.blue});
    --md-sys-color-on-error-container:           rgb({color9.red}, {color9.green}, {color9.blue});
    --md-sys-color-on-primary:                   rgb({color0.red}, {color0.green}, {color0.blue});
    --md-sys-color-on-primary-container:         rgb({color12.red}, {color12.green}, {color12.blue});
    --md-sys-color-on-primary-fixed:             rgb({color0.red}, {color0.green}, {color0.blue});
    --md-sys-color-on-primary-fixed-variant:     rgb({color8.red}, {color8.green}, {color8.blue});
    --md-sys-color-on-secondary:                 rgb({color0.red}, {color0.green}, {color0.blue});
    --md-sys-color-on-secondary-container:       rgb({color14.red}, {color14.green}, {color14.blue});
    --md-sys-color-on-secondary-fixed:           rgb({color0.red}, {color0.green}, {color0.blue});
    --md-sys-color-on-secondary-fixed-variant:   rgb({color8.red}, {color8.green}, {color8.blue});
    --md-sys-color-on-surface:                   rgb({color7.red}, {color7.green}, {color7.blue});
    --md-sys-color-on-surface-variant:           rgb({color7.red}, {color7.green}, {color7.blue});
    --md-sys-color-on-tertiary:                  rgb({color0.red}, {color0.green}, {color0.blue});
    --md-sys-color-on-tertiary-container:        rgb({color13.red}, {color13.green}, {color13.blue});
    --md-sys-color-on-tertiary-fixed:            rgb({color0.red}, {color0.green}, {color0.blue});
    --md-sys-color-on-tertiary-fixed-variant:    rgb({color8.red}, {color8.green}, {color8.blue});
    --md-sys-color-outline:                      rgb({color8.red}, {color8.green}, {color8.blue});
    --md-sys-color-outline-variant:              rgb({color8.red}, {color8.green}, {color8.blue});
    --md-sys-color-primary:                      rgb({color4.red}, {color4.green}, {color4.blue});
    --md-sys-color-primary-container:            rgb({color8.red}, {color8.green}, {color8.blue});
    --md-sys-color-primary-fixed:                rgb({color12.red}, {color12.green}, {color12.blue});
    --md-sys-color-primary-fixed-dim:            rgb({color4.red}, {color4.green}, {color4.blue});
    --md-sys-color-scrim:                        rgb(0, 0, 0);
    --md-sys-color-secondary:                    rgb({color6.red}, {color6.green}, {color6.blue});
    --md-sys-color-secondary-container:          rgb({color8.red}, {color8.green}, {color8.blue});
    --md-sys-color-secondary-fixed:              rgb({color14.red}, {color14.green}, {color14.blue});
    --md-sys-color-secondary-fixed-dim:          rgb({color6.red}, {color6.green}, {color6.blue});
    --md-sys-color-shadow:                       rgb(0, 0, 0);
    --md-sys-color-source-color:                 rgb({color4.red}, {color4.green}, {color4.blue});
    --md-sys-color-surface:                      rgb({color0.red}, {color0.green}, {color0.blue});
    --md-sys-color-surface-bright:               rgb({color8.red}, {color8.green}, {color8.blue});
    --md-sys-color-surface-container:            rgb({color8.red}, {color8.green}, {color8.blue});
    --md-sys-color-surface-container-high:       rgb({color8.red}, {color8.green}, {color8.blue});
    --md-sys-color-surface-container-highest:    rgb({color8.red}, {color8.green}, {color8.blue});
    --md-sys-color-surface-container-low:        rgb({color0.red}, {color0.green}, {color0.blue});
    --md-sys-color-surface-container-lowest:     rgb({color0.red}, {color0.green}, {color0.blue});
    --md-sys-color-surface-dim:                  rgb({color0.red}, {color0.green}, {color0.blue});
    --md-sys-color-surface-tint:                 rgb({color4.red}, {color4.green}, {color4.blue});
    --md-sys-color-surface-variant:              rgb({color8.red}, {color8.green}, {color8.blue});
    --md-sys-color-tertiary:                     rgb({color5.red}, {color5.green}, {color5.blue});
    --md-sys-color-tertiary-container:           rgb({color8.red}, {color8.green}, {color8.blue});
    --md-sys-color-tertiary-fixed:               rgb({color13.red}, {color13.green}, {color13.blue});
    --md-sys-color-tertiary-fixed-dim:           rgb({color5.red}, {color5.green}, {color5.blue});
}
